main{
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: red;
    

}
#canvas{
    background-color: gray; 
    background-image: url('../img/unity-2d-racing-game-tutorial-scrolling-background.gif'); 
    background-size: 100%;
    background-repeat: no-repeat;
  }
#fuelStatus{
  width: 200px;
  position: absolute;
  margin-top: 700px;
  margin-left: 350px;
}
  #info{
    width: 200px;
    position: absolute;
    text-align: center;
    font-size: larger;
    background-color: #d6d313;
  }

main{
  color: #d61313;
}
#androidControlBtns{
  display: none;
}
@media only screen and (max-width: 800px){

#canvas{
  width: 410px;
  height: 700px;
}
#info{
 display: none;
}
#androidControlBtns{
 display: flex;

  position: absolute;
bottom: 8%;

align-items: center;
justify-content: center;
width: 350px;

}
.controleBtn{
margin: 10px;
background-color: #d6d313;
width: 100px;
height: 50px;
}
  #btn{
    position: absolute;
    width: 100px;
    top: 60%;
    text-align: center;
    font-size: larger;
    background-color: #d6d313;
}
#fuelStatus{
  width: 50px;
  margin-top: 0px;
  margin-left: 0px;
top: 8%;
right: 8%;
}
}